tools/FileTreeMaven/src/main/resources/metadata/xsd/CDWALite-xsd-public-v1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 1.1: 2006-07-12: CDWALite-xsd-public-1.1.xsd -->
<!--  
		xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
		xx CDWA Lite: XML Schema Content for Contributing Records via the OAI Harvesting Protocol (Version 2.0)
		xx This version of XML Document corresponds to CDWA_Lite_Schema_Draft.pdf v1.1 changes provided by Getty 
		xx	http://www.getty.edu/research/conducting_research/standards/cdwa/cdwalite/cdwalite.pdf 
		xx
		xx	CDWA Lite is an XML schema to describe core records for works of art and material culture based on 
		xx		the Categories for the Description of Works of Art (CDWA) and Cataloging Cultural Objects: A 
		xx		Guide to Describing Cultural Works and Their Images (CCO).
		xx
		xx	Copyright © 2005, 2006 ARTstor and J Paul Getty Trust
		xx
		xx	Prepared for ARTstor and the Getty Research Institute /J Paul Getty Trust 
		xx	by:	 Ameer Ahmed - ARTstor (aahmed@artstor.org)
		xx			Joseph Shubitowski - Getty Research Institute (JShubitowski@getty.edu)
		xx			Karim Boughida - Getty Research Institute (KBoughida@getty.edu)
		xx		
        xx       version 1.1: 2006-07-12: CDWALite-xsd-public-1.1.xsd    
		xx	   
		xx
		xx	Last update: 2006-06-16 A. Ahmed (+ K.Boughida):
		xx		added missing xsd namespace reference
		xx		renamed  "class" element to "classification"
		xx		removed extra sequence from "measurementsSet" 
		xx		added "cdwaliteWrap" top element
		xx         type="xsd:string" instead of type="string"
        xx                 eg <xsd:attribute name="earliestdate" type="xsd:string"/> instead of  
		xx				<attribute name="earliestdate" type="string"/>
        xx         <xsd:extension base="xsd:string"> instead of <extension base="string">
		xx	
        xx               version 1.0: 2006-05-24: CDWALite-xsd-public-1-0.xsd
        xx
        xx             Last update: 2006-05-24 J. Shubitowski:
		xx		All extraneous comments, old element definitions, and editing work removed
		xx		v.009c2 "measurementSet" element revised to match proper spec element
		xx			"measurementsSet".
		xx
		xx	Last update: 2005-09-07 J. Shubitowski:
		xx		Three edits to elements. Search for "original element from Ameer" for original versions;
		xx			edits were necessary to support the data and attributes. 
		xx		Wrapper element removed. Root element is cdwalite:cdwalite. 
		xx
		xx
		xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cdwalite="http://www.getty.edu/CDWA/CDWALite" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.getty.edu/CDWA/CDWALite" elementFormDefault="qualified" attributeFormDefault="qualified">
<xsd:element name="cdwaliteWrap">
<xsd:annotation>
<xsd:documentation>Holds a collection of cdwalite records</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:cdwalite" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="cdwalite">
<xsd:annotation>
<xsd:documentation>Root Element</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:descriptiveMetadata"/>
<xsd:element ref="cdwalite:administrativeMetadata"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="administrativeMetadata">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:rightsWork" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:resourceWrap" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="descriptiveMetadata">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:objectWorkTypeWrap"/>
<xsd:element ref="cdwalite:titleWrap"/>
<xsd:element ref="cdwalite:displayCreator"/>
<xsd:element ref="cdwalite:indexingCreatorWrap"/>
<xsd:element ref="cdwalite:displayMeasurements" minOccurs="0"/>
<xsd:element ref="cdwalite:indexingMeasurementsWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:displayMaterialsTech"/>
<xsd:element ref="cdwalite:indexingMaterialsTechWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:displayStateEditionWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:styleWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:cultureWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:displayCreationDate"/>
<xsd:element ref="cdwalite:indexingDatesWrap"/>
<xsd:element ref="cdwalite:locationWrap"/>
<xsd:element ref="cdwalite:indexingSubjectWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:classWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:descriptiveNoteWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:inscriptionsWrap" minOccurs="0"/>
<xsd:element ref="cdwalite:relatedWorksWrap" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for image information. An identification of an image (visual surrogate) of the work, including digital images, slides, transparencies, photographs, and moving images, but excluding items that are considered works in their own right. For works such as drawings, prints, paintings, or photographs considered art, and other works that themselves contain representations of other works, use Related Works and/or Subjects. </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:resourceSet" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="attributionQualifierCreator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A qualifier used when the attribution is uncertain, is in dispute, when there is more than one creator, when there is a former attribution, or when the attribution otherwise requires explanation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="classification">
<xsd:annotation>
<xsd:documentation>Term used to categorize a work by grouping it together with other works on the basis of similar characteristics, including materials, form, shape, function, region of origin, cultural context, or historical or stylistic period. If the work is assigned to multiple classifications, repeat this element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="classWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for classfication information</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:classification" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="culture">
<xsd:annotation>
<xsd:documentation>Name of the culture, people, or nationality from which the work originated.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="cultureWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Culture elements</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:culture" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="dateQualifier" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A clarification of the meaning of the date, used when necessary. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="descriptiveNote" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A relatively brief essay-like text that describes the content and context of the work, including comments and an interpretation that may supplement, qualify, or explain the physical characteristics, subject, circumstances of creation or discovery, or other information about the work.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="descriptiveNoteWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Description/Descriptive Note information.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:descriptiveNoteSet" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="descriptiveNoteSet">
<xsd:annotation>
<xsd:documentation>If there are multiple notes, repeat the note Set.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:descriptiveNote" minOccurs="0"/>
<xsd:element ref="cdwalite:sourceDescriptiveNote" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="displayCreationDate" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A concise description of the date or range of dates associated with the creation, design, production, presentation, performance, construction, or alteration of the work or its components, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="displayCreator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The name, brief biographical information, and roles (if necessary) of the named creator or creators in the design and production of the work, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. If there is no known creator, make a reference to the presumed culture or nationality of the unknown creator.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="displayEdition" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A description of the edition of the work; used primarily for prints and other multiples.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="displayMaterialsTech" type="xsd:string">
<xsd:annotation>
<xsd:documentation>An indication of the substances or materials used in the creation of a work, as well as any implements, production or manufacturing techniques, processes, or methods incorporated in its fabrication, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. For works on paper, descriptions of watermarks may also be included. (For marks applied to the work or support by the artist or subsequently by another person, see Inscriptions.)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="displayMeasurements" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Information about the dimensions, size, or scale of the work, presented in a syntax suitable for display to the end-user and including any necessary indications of uncertainty, ambiguity, and nuance. It may include the scale of the work. It may also include the number of the parts of a complex work, series, or collection.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="displayState" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A description of the state of the work; used primarily for prints and other multiples.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="displayStateEditionWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Display State Editions</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:displayState" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:displayEdition" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:sourceStateEdition" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="earliestDate">
<xsd:annotation>
<xsd:documentation>A year that broadly delimits the beginning of an implied date span</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="extentMeasurements" type="xsd:string">
<xsd:annotation>
<xsd:documentation>An explanation of the part of the work being measured; included when necessary for clarity.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="resourceID">
<xsd:annotation>
<xsd:documentation>The unique numeric or alphanumeric identification of the resource.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceRelType">
<xsd:annotation>
<xsd:documentation>The relationship of an image or other resource to the work being described.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceType">
<xsd:annotation>
<xsd:documentation>The generic identification of the medium of the image or other resource.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="rightsResource">
<xsd:annotation>
<xsd:documentation>Information about rights regarding the image or other resource. Use this sub-element if the holder of the reproduction rights for the image/resource differs from the holder of rights for the work. See also Rights Work above. (E.g., the work rights are " National Museum of African Art, Smithsonian Instituition (Washing DC), " but the image rights are "Photo Frank Khoury.")</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceViewDescription">
<xsd:annotation>
<xsd:documentation>A description of the spatial, chronological, or contextual aspects of the work as captured in the view of this particular image or other resource.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceViewSubjectTerm">
<xsd:annotation>
<xsd:documentation>Terms or phrases that characterize the subject matter of the work as it is depicted in a specific image or other resource.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceViewType">
<xsd:annotation>
<xsd:documentation>The specific vantage point or perspective of the view.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceViewDate">
<xsd:annotation>
<xsd:documentation>A date or range of dates associated with the creation or production of the image. This is not necessarily the same as the date of production of the resource (e.g., a print of a negative may be made years after the image was first captured on film). For the date of the resource, use Resource Date.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute name="earliestdate" type="xsd:string"/>
<xsd:attribute name="latestdate" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceSource">
<xsd:annotation>
<xsd:documentation>Identification of the agency, individual, repository, or publication from which the image or other resource was obtained, including a bibliographic citation in the case of copy photography. Include this sub-element when the source of the image/resource differs from the source named in Record Source.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute name="earliestdate" type="xsd:string"/>
<xsd:attribute name="latestdate" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="linkRelatedResource">
<xsd:annotation>
<xsd:documentation>A reference to an image or other resource that is related to the resource in this Resource Set, generally linking a group or collection of images or other resources to members of the group or collection. For multiple related resources, repeat this element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:relatedResourceRelType" minOccurs="0"/>
<xsd:element ref="cdwalite:labelRelatedResource" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute ref="cdwalite:linkscheme"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="relatedResourceRelType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A term describing the nature of the relationship between the resource at hand and the related resource.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="labelRelatedResource" type="xsd:string">
<xsd:annotation>
<xsd:documentation>An identification of the related image or other resource that will be meaningful to end-users.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="resourceMetadataLoc">
<xsd:annotation>
<xsd:documentation>Pointer(s) to other metadata (administrative, technical, structural).</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingCreatorSet">
<xsd:annotation>
<xsd:documentation>Set for creator indexing elements. If there are multiple creators, repeat Indexing Creator Set.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:nameCreatorSet" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:nationalityCreator" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:vitalDatesCreator" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:genderCreator" minOccurs="0"/>
<xsd:element ref="cdwalite:roleCreator" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:attributionQualifierCreator" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:extentCreator" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingCreatorWrap">
<xsd:annotation>
<xsd:documentation>Wrapper for one or more sets of Indexing Creator elements. </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:indexingCreatorSet" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingDatesSet">
<xsd:annotation>
<xsd:documentation>A wrapper for one set of years in the proleptic Gregorian calendar delimiting the span of time during which the creation and production of the work took place, as indicated in the Display Creation Date. If the creation took place in a single year, repeat the same year in earliest and latest dates. For ca. and other uncertain or approximate dates, estimate the greatest possible span for indexing (generally, allow at least 5 years for ca.). If different parts of the work were done at different times, or if different activities in the production of the work were done at different times, repeat Indexing Dates.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:dateQualifier" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:earliestDate"/>
<xsd:element ref="cdwalite:latestDate"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingDatesWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Indexing Dates.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:indexingDatesSet" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingMaterialsTechSet">
<xsd:annotation>
<xsd:documentation>Materials and techniques indexed with controlled terms for retrieval; if multiple parts of the work require separate materials and techniques, or if you are recording media and support separately, repeat this element with the type attribute and/or the extent sub-element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:termMaterialsTech" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:extentMaterialsTech" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:sourceMaterialsTech" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute ref="cdwalite:type"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingMaterialsTechWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Indexing Materials/Techniques</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:indexingMaterialsTechSet" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingMeasurementsSet">
<xsd:annotation>
<xsd:documentation>The dimensions, size, shape, scale, format, or storage configuration of the work, including volume, weight, area or running time. Measurements are formatted to allow retrieval; preferably in metric units where applicable; if multiple parts of the work are measured, repeat the Indexing Measurements element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:measurementsSet" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:extentMeasurements" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:qualifierMeasurements" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:formatMeasurements" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:shapeMeasurements" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:scaleMeasurements" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingMeasurementsWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for the Indexing Measurements.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:indexingMeasurementsSet" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="inscriptions" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A description or transcription of any distinguishing or identifying physical lettering, annotations, texts, markings, or labels that are affixed, applied, stamped, written, inscribed, or attached to the work, excluding any mark or text inherent in the materials of which the work is made (record watermarks in Display Materials/Techniques).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="inscriptionsWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Inscription information.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:inscriptions" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="labelRelatedWork" type="xsd:string">
<xsd:annotation>
<xsd:documentation>An identification of the related work, group, collection, or series that will be meaningful to end-users, including some or all of the following information, as necessary for clarity and if known: title, creator, object/work type, and creation date. Display it with the Location of Related Work.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="latestDate">
<xsd:annotation>
<xsd:documentation>A year that broadly delimits the end of an implied date span. </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="linkResource">
<xsd:annotation>
<xsd:documentation> A uri/url reference that is universal and in the worldwide web environment. Note that it differs from ResourceID, which represents local, system specific data.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute name="formatResource" type="xsd:string"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="linkRelatedWork">
<xsd:annotation>
<xsd:documentation>An uri/url reference that is universal and in the worldwide web environment. Note that it differs from the ID attribute, which represents local, system specific data.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:linkscheme"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="locRelatedWork">
<xsd:annotation>
<xsd:documentation>The current location of the related work, generally a repository or, for architecture and monumental works, a geographic place. For series and other works published in multiples, location may not be applicable.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="relWorkID" type="xsd:string"/>
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:locID"/>
<xsd:attribute ref="cdwalite:locIDtype"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="locationName">
<xsd:annotation>
<xsd:documentation>The name and geographic location of the repository that is currently responsible for the work, or, for monumental works and architecture, the geographic location of the work. If the work is lost, destroyed, has location unknown, or the work is in an anonymous private collection, indicate this. Also may include creation location, discovery location, and other former locations.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
<xsd:attribute ref="cdwalite:locID"/>
<xsd:attribute ref="cdwalite:locIDtype"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="locationWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Location/Repository information.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:locationSet" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="locationSet">
<xsd:annotation>
<xsd:documentation>Set for location elements. If there are multiple locations, repeat the Location Set.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:locationName"/>
<xsd:element ref="cdwalite:workID" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="resourceSet">
<xsd:annotation>
<xsd:documentation>A wrapper for sets of resource information. If there are multiple resources associated with the object, repeat the Resource Set sub-element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:linkResource" minOccurs="0"/>
<xsd:element ref="cdwalite:resourceID" minOccurs="0"/>
<xsd:element ref="cdwalite:resourceRelType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:resourceType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:rightsResource" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:resourceViewDescription" minOccurs="0"/>
<xsd:element ref="cdwalite:resourceViewType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:resourceViewSubjectTerm" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:resourceViewDate" minOccurs="0"/>
<xsd:element ref="cdwalite:resourceSource" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:linkRelatedResource" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:resourceMetadataLoc" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="measurementsSet">
<xsd:annotation>
<xsd:documentation>The dimensions or other measurements for one aspect of a work (e.g., width); may be combined with extent, qualifier, and other sub-elements as necessary.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="unit" type="xsd:string"/>
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute name="value" type="xsd:string" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="nameCreator">
<xsd:annotation>
<xsd:documentation>The names, appellations, or other identifiers assigned to an individual, group of people, firm or other corporate body, or other entity that has contributed to the design, creation, production, manufacture, or alteration of the work.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute name="type">
<xsd:simpleType>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="personalName"/>
<xsd:enumeration value="corporateName"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="nameCreatorSet">
<xsd:annotation>
<xsd:documentation>Set for name elements. If there are multiple names, repeat the Name Set.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:nameCreator"/>
<xsd:element ref="cdwalite:sourceNameCreator" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="nationalityCreator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>National or cultural affiliation of the person or corporate body.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="genderCreator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The sex of the individual. Not applicable for corporate bodies.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="objectWorkType">
<xsd:annotation>
<xsd:documentation>A term or terms identifying the specific kind of object or work being described. For a collection, include repeating instances for terms identifying all of or the most important items in the collection.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="objectWorkTypeWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Object/Work Type</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:objectWorkType" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="qualifierMeasurements" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A word or phrase that elaborates on the nature of the measurements of the work when necessary, as when the measurements are approximate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="shapeMeasurements" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The shape of a work, used for unusual shapes (e.g., an oval painting).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="formatMeasurements" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The configuration of a work, including technical formats, used as necessary.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="scaleMeasurements" type="xsd:string">
<xsd:annotation>
<xsd:documentation>An expression of the ratio between the size of the representation of something and that thing (e.g., the size of the drawn structure and the actual built work). Used for studies, record drawings, models, and other representations drawn or constructed to scale.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="recordID">
<xsd:annotation>
<xsd:documentation>A unique record identification in the contributors (local) system.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="recordSource" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The source of information in this record, generally the repository or other institution.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="recordType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Term establishing whether the record represents an individual item or a collection, series, or group of works.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="recordWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for information about the record that contains the cataloguing information.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:recordID" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordType"/>
<xsd:element ref="cdwalite:recordSource" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordInfoWrap" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="relatedWorkRelType" type="xsd:string">
<xsd:annotation>
<xsd:documentation>A term describing the nature of the relationship between the work at hand and the related entity.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="relatedWorkSet">
<xsd:annotation>
<xsd:documentation>A wrapper for one work, group, collection, or series that is directly related to the work at hand, including direct relationships between two works, between a work and its components, and between an item and the larger group, collection, or series of works. Related works may also include works that were created as pendants or otherwise to be displayed together with the work at hand. If there is more than one Related Work for the work being catalogued, repeat this element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:linkRelatedWork" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:relatedWorkRelType" minOccurs="0"/>
<xsd:element ref="cdwalite:labelRelatedWork" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:locRelatedWork" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="relatedWorksWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Related Works information.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:relatedWorkSet" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="rightsWork">
<xsd:annotation>
<xsd:documentation>Information about rights management; may include copyright and other intellectual property statements required for use. This element should include the name of the holder of the reproduction rights to the image.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="roleCreator">
<xsd:annotation>
<xsd:documentation>The role played by the creator or other agent in the creation or production of the work.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="sourceDescriptiveNote" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The source for the descriptive note, generally a published source.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sourceMaterialsTech" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The source of the information about materials and technique, often used when citing a published source of watermarks.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sourceNameCreator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The source for the name, generally a published source.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sourceStateEdition" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The published source of the state or edition information. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sourceTitle" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The source for the title, generally a published source.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="style">
<xsd:annotation>
<xsd:documentation>Term that identifies the named, defined style, historical or artistic period, movement, group, or school whose characteristics are represented in the work being catalogued.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="styleWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Style Elements</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:style" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingSubjectSet">
<xsd:annotation>
<xsd:documentation>A wrapper for one set of Subject Indexing information. If a work has multiple parts or otherwise has separate, multiple subjects, repeat this element with Extent Subject. This element may also be repeated to distinguish between subjects that reflect what a work is of (description and identification) from what it is about (interpretation).</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:extentSubject" minOccurs="0"/>
<xsd:element ref="cdwalite:subjectTerm" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute ref="cdwalite:type"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="indexingSubjectWrap">
<xsd:annotation>
<xsd:documentation>A wrapper for Subject Indexing information about the work, group, collection, or series that is being catalogued.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:indexingSubjectSet" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="subjectTerm">
<xsd:annotation>
<xsd:documentation>Terms that identify, describe, and/or interpret what is depicted in and by a work. These may include proper names (e.g., people, events, places), iconography, themes from literature, or generic terms describing the material world, or topics (e.g., concepts, themes, or issues).  </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute ref="cdwalite:termsource"/>
<xsd:attribute ref="cdwalite:termsourceID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="termMaterialsTech">
<xsd:annotation>
<xsd:documentation>A term to index materials and/or technique; may be combined with extent as necessary.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:termsource"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="title">
<xsd:annotation>
<xsd:documentation>Titles, identifying phrases, or names given to a work of art, architecture, or material culture. For complex works, series, or collections, the title may refer to a discrete unit within the larger entity (a print from a series, a photograph in a collection, a panel from a fresco cycle, a building within a temple complex) or it may identify only the larger entity (series, collection, cycle) itself.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:pref"/>
<xsd:attribute ref="cdwalite:lang"/>
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute ref="cdwalite:langtermsource"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="titleSet">
<xsd:annotation>
<xsd:documentation>Wrapper for one title and its related information. If there is more than one title, repeat the Title Set element.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:title"/>
<xsd:element ref="cdwalite:sourceTitle" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="titleWrap">
<xsd:annotation>
<xsd:documentation>Wrapper for Title information. </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:titleSet" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="vitalDatesCreator">
<xsd:annotation>
<xsd:documentation>A description of the lifespan of the person or the existence of the corporate body, using "ca." and any other expressions of uncertainty or nuance. For Birth and Death date attributes, record years of birth and death, estimated where necessary. For a corporate body, use birthdate and deathdate to record the dates of founding and dissolution.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="birthDate" type="xsd:string"/>
<xsd:attribute name="deathDate" type="xsd:string"/>
<xsd:attribute ref="cdwalite:termsource"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="workID">
<xsd:annotation>
<xsd:documentation>Any unique numeric or alphanumeric identifier(s) assigned to a work by a repository.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:attribute name="termsource" type="xsd:string"/>
<xsd:attribute name="termsourceID" type="xsd:string"/>
<xsd:attribute name="linkscheme" type="xsd:string"/>
<xsd:attribute name="locID" type="xsd:string"/>
<xsd:attribute name="locIDtype" type="xsd:string"/>
<xsd:attribute name="pref" type="xsd:string"/>
<xsd:attribute name="type" type="xsd:string"/>
<xsd:attribute name="langtermsource" type="xsd:string"/>
<xsd:attribute name="indentifier" type="xsd:string"/>
<xsd:attribute name="lang" type="xsd:string"/>
<xsd:element name="extentCreator" type="xsd:string">
<xsd:annotation>
<xsd:documentation>When there are multiple creators, a term indicating the part of the work created by this creator.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="extentMaterialsTech" type="xsd:string">
<xsd:annotation>
<xsd:documentation>An explanation of the part of the work to which the materials or technique are applicable; included when necessary for clarity.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="extentSubject" type="xsd:string">
<xsd:annotation>
<xsd:documentation>When there are multiple subjects, a term indicating the part of the work to which these subject terms apply.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="recordInfoWrap">
<xsd:annotation>
<xsd:documentation>Wrapper for metadata information about this record.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="cdwalite:recordInfoID" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordInfoLink" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordRelID" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordMetadataLoc" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element ref="cdwalite:recordMetadataDate" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute ref="cdwalite:type"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="recordInfoID">
<xsd:annotation>
<xsd:documentation>Unique ID of the metadata.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="recordInfoLink" type="xsd:string">
<xsd:annotation>
<xsd:documentation>Link of the metadata (not the same as link of the object).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="recordRelID">
<xsd:annotation>
<xsd:documentation>Unique ID of the metadata of the related object.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="recordMetadataLoc">
<xsd:annotation>
<xsd:documentation>Pointer(s) to other metadata (administrative, technical, structural).</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="recordMetadataDate">
<xsd:annotation>
<xsd:documentation>Creation date or date modified.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute ref="cdwalite:type"/>
<xsd:attribute ref="cdwalite:termsource"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:schema>
